* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  color: #ebdbb2;
}

a {
  margin-top: 25px;
  text-decoration: none;
  font-size: 1rem;
  color: #ebdbb2;
  background-color: #3c3836;
  padding: 10px 20px;
  border-radius: 10px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

a:hover {
  background-color: #504945;
  color: #fabd2f;
}

.calculator {
  width: 23rem;
  height: 37rem;
  background-color: #3c3836;
  border-radius: 18px;
  padding: 25px;
}

.screen {
  width: 100%;
  height: 85px;
  background-color: #1d2021;
  color: #ebdbb2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: inset 0 0 10px #000;
}

.screen .top {
  font-size: 1.2rem;
  color: #b8bb26;
  text-align: right;
}

.screen .bottom {
  font-size: 2rem;
  font-weight: bold;
  color: #ebdbb2;
  text-align: right;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 83%;
  gap: 8px;
  margin-top: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 15px;
  border: none;
  color: #ebdbb2;
  background-color: #504945;
  box-shadow: inset -3px -5px #3c3836;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
}

button:hover {
  background-color: #665c54;
}

button:active {
  background-color: #3c3836;
  box-shadow: inset 3px 5px #282828;
}

.square-btn {
  background-color: #d79921;
  box-shadow: inset -3px -5px #b57614;
}

.square-btn:hover {
  background-color: #fabd2f;
}

.square-btn:active {
  background-color: #b57614;
  box-shadow: inset 3px 5px #282828;
}

.whole-btn {
  grid-column: span 4;
  background-color: #b8bb26;
  box-shadow: inset -3px -5px #98971a;
}

.whole-btn:hover {
  background-color: #c0c531;
}

.whole-btn:active {
  background-color: #98971a;
  box-shadow: inset 3px 5px #282828;
}
